<template>
  <div class="about">
    <v-container class="text-center">
        프로젝트 설명
    </v-container>
  </div>
</template>

<script>
  export default {
  }
</script>

<style>
</style>
