<template>
  <div class="people">
    <v-container class="text-center">
        만든 사람들
    </v-container>
  </div>
</template>

<script>
  export default {
  }
</script>

<style>
</style>
