<template>
  <div class="release">
    <v-container class="text-center">
        릴리즈 노트
    </v-container>
  </div>
</template>

<script>
  export default {
  }
</script>

<style>
</style>
